# Coursera Capstone Project Assignment

# Question 1

In [161]:
import pandas as pd
import numpy as ny

In [141]:
import urllib.request

from bs4 import BeautifulSoup

url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

page = urllib.request.urlopen(url)

soup = BeautifulSoup(page, "lxml")

In [144]:
all_tables=soup.find_all("table")

right_table=soup.find('table', class_='wikitable sortable')

In [145]:
A=[]
B=[]
C=[]

for row in right_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==3:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))

In [188]:
import pandas as pd
df=pd.DataFrame(A,columns=['PostalCode'])
df['Borough']=B
df['Neighborhood']=C

df.head()

  PostalCode            Borough                 Neighborhood
0       M1A
      Not assigned


1       M2A
      Not assigned


2       M3A
        North York
                   Parkwoods

3       M4A
        North York
            Victoria Village

4       M5A
  Downtown Toronto
  Regent Park / Harbourfront

#### Ignore cells with a borough that is Not assigned

In [189]:
df = df[df.Borough != 'Not assigned\n']
df = df.reset_index()
df.head()

,index,PostalCode,Borough,Neighborhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,Regent Park / Harbourfront
3,5,M6A,North York,Lawrence Manor / Lawrence Heights
4,6,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government

In [190]:
df.drop('index', axis=1, inplace = True)

In [212]:
df.head(10)

  PostalCode            Borough                                   Neighborhood
0       M3A
        North York
                                     Parkwoods

1       M4A
        North York
                              Victoria Village

2       M5A
  Downtown Toronto
                    Regent Park / Harbourfront

3       M6A
        North York
             Lawrence Manor / Lawrence Heights

4       M7A
  Downtown Toronto
  Queen's Park / Ontario Provincial Government

5       M9A
         Etobicoke
                              Islington Avenue

6       M1B
       Scarborough
                               Malvern / Rouge

7       M3B
        North York
                                     Don Mills

8       M4B
         East York
              Parkview Hill / Woodbine Gardens

9       M5B
  Downtown Toronto
                     Garden District / Ryerson

In [213]:
df.shape

(103, 3)

# Question 2

In [206]:
geodf = pd.read_csv('http://cocl.us/Geospatial_data')

In [214]:
geodf.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [208]:
geodf.rename(columns={'Postal Code' : 'PostalCode'}, inplace = True)

In [209]:
geodf.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [215]:
new_df = df.merge(geodf, on="PostalCode", how="left")
new_df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,NaN,NaN
1,M4A,North York,Victoria Village,NaN,NaN
2,M5A,Downtown Toronto,Regent Park / Harbourfront,NaN,NaN
3,M6A,North York,Lawrence Manor / Lawrence Heights,NaN,NaN
4,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government,NaN,NaN

In [216]:
new_df.shape

(103, 5)